    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About the NDSU ACM</h2>
                <p>The student chapter of the Association for Computing Machinery was established the North Dakota State University in 1974. Since them the organization has been involved with providing sevices, organizing programming competitions, and offering education and social opportunites for its members. While most of the members are Computer Science students, the ACM also welcomes people in other fields who are interested in technology. THus our chapter also has students in Mathematics, Engineering, Psychology, and other Sciences.</p>
            </div>
        </div>
    </section>
