    <section id="calendar" class="content-section text-center">
        <div class="calendar-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Calendar</h2>
                    <div class="nav-list-container">
                        <ul class="nav nav-list">
                            <li class="nav-list-item">
                                No events scheduled.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
