    <section id="calendar" class="content-section text-center">
        <div class="calendar-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Calendar & Events</h2>
                    <h3>Recurring Events</h3>
                    <div class="text-center row">
                        <div class="col-sm"></div>
                        <div class="col-sm">
                            <h3><a href="https://royale.ndacm.org" target="_blank">Byte-le Royale</a></h3>
                            <p>Byte-le Royale is a 24 hour programming competition where competitors in teams of up to 3 write an AI to play a video game. The teams will be competing against each other to see who can create the best AI!</p>
                        </div>
                        <div class="col-sm"></div>
                    </div>
                    <h3>Calenar</h3>
                    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=9oasuofvbilnvdv25mbc541l6s%40group.calendar.google.com&amp;color=%23333333&amp;ctz=America%2FChicago" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                    
                </div>
            </div>
        </div>
    </section>
