    <section id="calendar" class="content-section text-center">
        <div class="calendar-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Calendar</h2>
                    <div class="nav-list-container">
                        <ul class="nav nav-list">
                            <li class="nav-list-item">
                                SIG-Learn: Mondays @ 5:00pm
                            </li>
                            <li class="nav-list-item">
                                SIG-GDev: Wednesday @ 6:00pm
                            </li>
                            <li class="nav-list-item">
                                SIG-Linux: Thursday @ 6:00pm 
                            </li>
                            <li class="nav-list-item">
                                SIG-Pony: Fridays @ 6:00pm
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
