    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <span class="intro-text">North Dakota State University</span>
                    <br>
                    <br>
                    <img class="intro-logo" src="img/acm-logo-circle.png"/>
                    <br>
                    <br>
                    <span class="brand-heading">Association for Computing Machinery</span>
                </div>
            </div>
        </div>
    </header>
