    <section id="minutes" class="content-section text-center">
        <div class="minutes-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Meeting Minutes</h2>
                    <div class="nav-list-container">
                        <ul class="nav nav-list">
                            {% for post in site.posts limit:10 %}
                                <li>
                                    <a class="nav-list-item" href="{{ post.url }}">
                                        <span>
                                            {{ post.date | date_to_string }}
                                        </span>
                                    </a>
                                </li>
                            {% endfor %}
                            <li>
                                <a class="nav-list-item" href="/meeting-minutes/">
                                    <span>
                                        More
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


