    <section id="more" class="content-section text-center">
        <div class="more-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>More Information</h2>
                    <div class="nav-list-container">
                        <ul class="nav nav-list">
                            <li class="nav-list-item">
                                <a href="/cabinet/">Cabinet</a>
                            </li>
                            <li>
                                <a class="nav-list-item" href="/constitution/">Constitution</a>
                            </li>
                            <li>
                                <a class="nav-list-item" href="/corp-talks/">Corporate Talks</a>
                            </li>
                            <li>
                                <a class="nav-list-item" href="/sigs/">SIGS</a>
                            </li>
                            <li>
                                <a class="nav-list-item" href="/weekly-meetings/">Weekly Meeting Topics</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

