<div id="side-pane" class="pure-menu">
    <h1 class="pure-menu-heading">
        NDSU ACM
    </h1>
    <hr>
    
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="/index.html" class="pure-menu-link">
                Home
            </a>
        </li>
        <hr>
        <li class="pure-menu-item">
            <a href="/meeting-minutes/" class="pure-menu-link">
                Meeting Minutes
            </a>
        </li>
        <hr>
        <li class="pure-menu-item">
            <a href="/cabinet/" class="pure-menu-link">
                Cabinet & Constitution
            </a>
        </li>
        <hr>
        <li class="pure-menu-item">
            <a href="/events-calendar/" class="pure-menu-link">
                Events Calendar
            </a>
        </li>
        <hr>
        <li class="pure-menu-item">
            <a href="/corporate-talks/" class="pure-menu-link">
                Corporate Talks
            </a>
        </li>
    </ul>

    <hr>
</div>
