<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}

    {% include about.html %}
    {% include space.html %}

    {% include minutes.html %}
    {% include space.html %}

    {% include more.html %}
    {% include space.html %}



    {% include contact.html %}
    {% include space.html %}

    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
