---
layout: shell
---

    {% include page-nav.html %}
    
    <section id="post" class="container content-section text-center">
            <div class="small-space-section">
                <br>
            </div>
    </section>

    <!-- Post Section -->
    <section id="post" class="container title-section text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="post">
                    <h2>
                        {{ page.date || date_to_string }} 
                    </h2>
                </div>
            </div>
    </section>

    <section id="post" class="container text-center">
            <div class="small-space-section">
                <br>
            </div>
    </section>
    
    
    <!-- Post Section -->
    <section id="post" class="container post-section text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="post">
                {{ content }}
                </div>
            </div>
    </section>


    {% include space.html %}
